@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'SFProDisplay';
    src: url('/designer-cv/fonts/SFPRODISPLAY_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
