---
import { Image } from 'astro:assets';
---
<main class="flex w-full w-[calc(100vw - 20rem)] h-auto overflow-scroll pr-7 py-7 scroll-smooth">
    <div class="flex w-full flex-col gap-10">
        <div>
        <Image class="w-full object-cover mb-7" width={2048} height={2048} src="https://framerusercontent.com/images/vNGYKJMBFLPs9J6XCp6X6wD9s.jpg" alt="Первый проект"/>
        <p class="pl-12"> Words is the app for a 360° vocabulary learning experience that we’re building with two super engineers. Personal project. MVP stage.</p>
        </div>
        <Image class="w-full object-cover" width={2048} height={2048} src="https://framerusercontent.com/images/vNGYKJMBFLPs9J6XCp6X6wD9s.jpg" alt="Первый проект"/>
        <Image class="w-full object-cover" width={2048} height={2048} src="https://framerusercontent.com/images/vNGYKJMBFLPs9J6XCp6X6wD9s.jpg" alt="Первый проект"/>
    </div>
</main>
