---
import {Image} from 'astro:assets';
import Avatar from '../assets/avatar.jpg'
import ThemeToggler from './ThemeToggler.astro'
import {getLangFromUrl, useTranslatedPath, useTranslations} from '../i18n/utils';
import {languages} from "../i18n/config";

const language = getLangFromUrl(Astro.url);
const t = useTranslations(language);
const translatePath = useTranslatedPath(language);
const langToChoose = language === 'ru' ? 'en' : 'ru';
---
<script>

</script>

<aside class="max-w-58 max-md:max-w-none w-full h-vh text-xl sticky top-0 left-0 py-7 max-md:pr-7 max-md:static">
    <Image alt="Avatar" src={Avatar} formats={['webp', 'jpg']}
           class="rounded-full size-16 mb-5 object-cover object-top"/>
    <h1 class="text-3xl tracking-[3.5%] leading-none font-bold mb-4">{t('name')}</h1>
    <p class="tracking-[3.5%] leading-tight mb-4 max-md:mb-1">{t('about')}</p>
    <p class="tracking-[3.5%] leading-tight max-md:mb-4">{t('subAbout')}</p>
    <div class="flex w-full absolute bottom-7 left-0 justify-end gap-2 flex-col max-md:justify-normal leading-tight max-md:static">
        <a href="https://hh.ru" target="_blank" class="hover:text-[#C2C2C2] transition-colors w-fit">{t('resume')}</a>
        <a href="https://t.me/@catheraneu" target="_blank"
           class="mb-10 max-md:mb-2 hover:text-[#C2C2C2] transition-colors w-fit">{t('tg')}</a>
        <div class="flex gap-7 items-center">
            <a class="hover:text-[#C2C2C2] transition-colors"
               href={translatePath('/designer-cv/', langToChoose)}>{languages[langToChoose]}
            </a>
            <ThemeToggler />
        </div>
    </div>
</aside>
