---
import {getLangFromUrl} from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/designer-cv/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Product Designer, UX/UI, CV, Resume, Portfolio" />
		<title>Ekaterina Kniazeva</title>
	</head>
	<body>
	<main class="flex w-full h-full gap-37 pl-7 relative overflow-hidden max-md:flex-col max-md:gap-4 max-md:overflow-visible">
		<slot />
	</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
