---
import {getLangFromUrl} from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ekaterina Kniazeva</title>
	</head>
	<body>
	<main class="flex w-full h-full gap-10 pl-7 relative overflow-hidden">
		<slot />
	</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
